:root{
    --white: #ffffff;
    --main_purple: #692BD8;
    --secondary_purple: #D2D0FF;
    --tertiary_purple: #E6E3FF;
    --gray: #EEEEEE;
    --black: #3B3B3B;
    --dark_gray: #CCCCCC;
    --dark_black: #010101;
}